<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> todo ajax</title>
    </head>
    <body>
    <h1>备忘便签</h1>
        <input id='id-input-todo'>
        <button id='id-button-add'>add</button>
        <div class="todo-list">
        </div>
        <!-- 处理静态文件 -->
        <!-- liu.js 放了公共的函数 -->
        <!-- 按顺序引入 2 个 js 文件, 后面的 js 文件就能使用前面的文件中的函数了 -->
        <script src='/static?file=liu.js'></script>
        <script src='/static?file=todo.js'></script>
    </body>
</html>
